<div class="card">
  <div class="card-component">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">

      <div class="row">

        <div class="input-field col s6">
          <input type="text" placeholder="Titel hinzufügen" [(ngModel)]="item.title" name="title">
          <label>Titel</label>
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Beschreibung hinzufügen" [(ngModel)]="item.description" name="description">
          <label>Beschreibung</label>
        </div>
        <div class="input-field col s12">
          <input type="submit" value="Abschicken" class="btn">
        </div>
      </div>
    </form>
  </div>
</div>
